<!DOCTYPE html>
<html>
<head>
<title>Music Harmoney</title>
<%= erb "layout/file_include".to_sym%>
</head>

<body>
  <div id="container">
    <% if flash[:notice]  %>
      <div class="alert alert-error">
        <p class="text-danger"><%= flash[:notice] %></p>
      </div>
    <% end %>

    <div id="header">
      <%= erb 'layout/header'.to_sym %>
    </div>

    <div id="content" class="middleArea">
      <%= erb 'chart/harmonyChart'.to_sym %>
    </div>
  </div>
</body>
</html>