<!DOCTYPE html>
<html>
<head>
   <title>Music Harmoney</title>
  <!-- Setting 시작 -->
  <!-- 공통파일 포함 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="온라인 뮤직 콜라보레이션 플랫폼" />
  <meta name="keywords" content="뮤직, 밴드, 음악, 콜라보레이션"  />
  <!--모바일용 화면크기 비율고정-->
  <meta id="mobileMeta" name="viewport" content="width=device-width" />

  <link rel="shortcut icon" href="/img/icon_mh.png" />
  <link rel="apple-touch-icon" href="/img/icon_mh.png" />
    <!-- java script -->
  <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="/js/application.js"></script>
  <script src='/js/bootstrap.min.js'></script>

    <!-- style sheet -->
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/normal.css">
  <link rel="stylesheet" href="/css/editor.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">


</head>
<body>
  <div id="scrollArea" class="normal">
    <div id="topBanner" class="topBottom">
      <!-- topBanner -->
      <div class="leftArea">
      </div>
      <div class="middleArea">
        <div style="margin-top: 60px;">
        <div>
          <button id="loginButton">LogIn ▼</button>
          <button id="joinButton">Join ▼</button>
        </div>
        <form>
          <input type="search" results="5" name="s" placeholder="Search" autosave="unique">
          <button> Go </button>
        </form>
      </div>
    </div>
    <div class="rightArea">
    </div>
  </div>

  <div id="center">
    <div class="leftArea">
    </div>
    <div class="middleArea">
      <div id="topMenu">

        <la><a href="/Audiee" target="centerFrame">Audiee</a></la>

        <la><a href="/newUploaded" target="centerFrame">Recent</a></la>
        <la><a href="/harmonyChart" target="centerFrame">Chart</a></la>
        <la><a href="/artistRanking" target="centerFrame">Ranking</a></la>
        <button id="modeChangeButton">Music Harmoney</button>
        <la><a href="/recommend" target="centerFrame">Recommened</a></la>
        <la><a href="/myFavoriteList" target="centerFrame">Favorite List</a></la>
        <la><a href="/userInfo" target="centerFrame">User</a></la>
        <la><a href="/index2" target="centerFrame">Create</a></la>

          

          <!-- <button id="newUploadButton"> Recent </button>
          <button id="harmonyChartButton"> Chart </button>
          <button id="artistRankingButton"> Ranking </button>
          <button id="modeChangeButton"> Music Harmony </button>
          <button id="recommendButton"> Recommend </button>
          <button id="favoriteButton"> Favorite </button>
          <button id="userInfoButton"> User </button>

          <button id="createProjectButton"> Create </button> -->
          
      </div>
      <div id="contents">

        <iframe id="contentsFrame" src='/index2' name='centerFrame'></iframe>
      </div>
    </div>
    <div class="rightArea">
    </div>
  </div>

<!--   <div id="bottom" class="topBottom">
    bottom
  </div> -->
  
</div>

<div id="musicPlayArea">
  music play area
</div>
</body>
</html>