     <div id="topMenu">

        <div class="btn-group">
          <!-- <button class="btn btn-default2" id="newUploadButton"> Recent </button> -->
          <button class="btn btn-default2" onclick="window.location.href='/'"> Recent </button>
          <button class="btn btn-default2" id="harmonyChartButton"> Chart </button>
          <button class="btn btn-default2" id="artistRankingButton"> Ranking </button>
          </div>
          <div class="btn-group">
          <button class="btn btn-default" id="modeChangeButton"> Music Harmony </button>
          </div>
          <div class="btn-group">
          <button class="btn btn-default2" id="myProjectListButton"> MyProject </button>
          <button class="btn btn-default2" id="editProjectButton"> Edit </button>
          <button class="btn btn-default2" id="userInfoButton"> User </button>
        </div>
      </div>
      <hr class="hr-underBar">