<% if logged_in? %>
<div id="topBanner-extention">
  <div id="topBanner" class="normal">
    <div class="middleArea">
      <div id="banner-user-search-area">
        <div id="banner-user-area" class="navbar-form pannel-heading">
          <ul class="list-unstyled list-inline">
            <li>
              <a id="user-nickname" href="/">
                <h2><%= session[:user_id] %></h2>
              </a>
            </li>
            <li>
              <a href="/user" TITLE="Log out">
                <img id="logout-button"></img>
              </a>
            </li>
            <li>
              <a href="/" TITLE="Home">
                <img id="home-button"></img>
              </a>
            </li>
          </ul>
        </div>
 <!--        <div id="search-box-form" class="navbar-form" role="search">
          <input type="search" results="5" name="s" placeholder="Search" autosave="unique">
          <button type="submit" class="btn btn-success btn-xs"> Go </button>
        </div> -->

        <form class="navbar-form clear" role="search">
          <div class="form-group">
            <input id="search-box" type="search" class="form-control" placeholder="Search" results="5" name="s" autosave="unique">
          </div>
          <button type="submit" class="btn btn-primary ">Go</button>
        </form>

      </div>
      <div id="modeChange-area">
        <img id="modeChangeButton"></img>
      </div>
    </div>
  </div>
</div>
<div id="topMenu" class="text-center">
  <div class="btn-group middleArea">
    <button onclick="location.href='/harmonyChart'" class="btn menu-btn" id="harmonyChartButton"> Harmony Chart </button>
    <button onclick="location.href='/artistRanking'" class="btn menu-btn" id="artistRankingButton"> Artist Rank </button>
    <button onclick="location.href='/myProject'" class="btn menu-btn" id="myProjectButton"> My Project </button>
    <button onclick="location.href='/timeline'" class="btn menu-btn" id="timelineButton"> Timeline </button>
  </div>
</div>
<hr class="hr-underBar clear">
<% else %>
<div id="topBanner-extention">
  <div id="topBanner" class="normal">
    <div class="middleArea">

      <form class="form-inline login-top" role="form" action="/login" method="post">
        <div class="form-group" >
          <label class="sr-only" for="InputEmail">Email address</label>
          <input type="email" class="form-control" name="user[EMAIL]" id="InputEmail" placeholder="Enter email">
        </div>

        <div class="form-group">
          <label class="sr-only" for="InputPassword" >Password</label>
          <input type="password" class="form-control" name="user[PASSWORD]" id="InputPassword" placeholder="Password">
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me </input>
          </label>
        </div>

        <button type="submit" class="btn btn-default">Sign in</button>
      </form>

    </div>
  </div>
</div>

<% end %>

