<% if logged_in? %>
<div id="topBanner-extention">
  <div id="topBanner" class="normal">
    <div class="middleArea">
      <div id="banner-user-search-area">
        <div id="banner-user-area" class="navbar-form">
          <button id="loginButton">LogIn</button>
          <button id="joinButton">Join</button>
        </div>
        <div class="navbar-form" role="search">
          <input id="search-box" type="search" results="5" name="s" placeholder="Search" autosave="unique">
          <button type="submit" class="btn btn-success btn-xs"> Go </button>
        </div>
      </div>
  <div id="modeChange-area">
    <button id="modeChangeButton"></button>
  </div>
    </div>
  </div>
</div>
<div id="topMenu" class="text-center">
  <div class="btn-group middleArea">
    <button onclick="location.href='/harmonyChart'" class="btn menu-btn" id="harmonyChartButton"> Harmony Chart </button>
    <button onclick="location.href='/artistRanking'" class="btn menu-btn" id="artistRankingButton"> Artist Rank </button>
    <button onclick="location.href='/myProject'" class="btn menu-btn" id="myProjectButton"> My Project </button>
    <button onclick="location.href='/timeline'" class="btn menu-btn" id="timelineButton"> Timeline </button>
  </div>
</div>
<hr class="hr-underBar clear">
<% else %>

    <div class="middleArea login-right">

      <form class="form-inline login-top" role="form" action="/login" method="post">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me </input>
          </label>
        </div>

        <br>

        <div class="form-group" >
          <label class="sr-only login-label" for="InputEmail">Email address</label>
          <input type="email" class="form-control" name="user[EMAIL]" id="InputEmail" placeholder="Enter email">
        </div>
        
        <div class="form-group">
          <label class="sr-only" for="InputPassword" >Password</label>
          <input type="password" class="form-control" name="user[PASSWORD]" id="InputPassword" placeholder="Password">
        </div>
        
        
        
        <button type="submit" class="btn btn-warning">Sign in</button>
      </form>
    </div>

<% end %>

