.editor #topBanner{
float: left;
text-align: right;
vertical-align: middle;
display: table-cell;
height: 130px;
/*background-color: #333;*/
width: 100%;
background:  url('/img/topBannerImg_editorMode.jpg') no-repeat center;
background-size: 100% 100%;
}