html,body{
 height: 100%
}
body{
 margin : 0;
 padding: 0;
}

.clear{
  clear: both;
}
.middleArea{
 /*width: 1024px;*/
 width: 1400px;
 margin: 0 auto;
}

#topBanner{
  vertical-align: middle;
  /*height: 150px;*/
  /*width: 1440px;*/
  height: 230px;
  width: 1920px;
  background:  url('/img/topBannerImg_normalMode.png') no-repeat center;
  background-size: 100% 100%;
  margin: 0 auto;
}

/* 여기부터 header 부분 user nickname, search-box 영역*/
#banner-user-search-area{
 padding-top: 50px;
 text-align: right;
}
#modeChangeButton{
  background: url('/img/logo1.png') no-repeat center;
  border: none;
  cursor: pointer;
  background-size: contain;
  /*padding: 54px;*/
  /*padding: 80px;*/
  width: 160px;
  height: 160px;
  margin: -112px 0px -25px 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}
.menu-btn{
 /*width: 149px;*/
 width: 200px;
 height: 50px;
 background-color: white;
 padding-top: 5px;
 padding-bottom: 5px;
}
/* 여기까지 header 부분 ////////////////////////////////////////*/

.hr-underBar{
 margin-top: 0px;
 border-top: 1px solid #C6C4C4;
 clear: both;
}

.hr-underBar-short
{
 width: 88%;
}

#recent-text{
 text-align: center;
 color: white;
 background-color: rgb(242, 103, 123);
 width: 100px;
 margin: 0 auto;
 margin-top: 100px;
}

#project-information-textarea{
 width: 100%
}
#project-list-area{
 width: 40%;
 float: right;
}
#input-track-area{
  width: 356px;
}
#input-text-area{
  width: 356px;
}

.projcet-img{
 width: 150px;
 height: auto;
}
.source-player-area{
  width: 100%;
  height: 15px;
}

/*carousel    여기부터 카로셀 //////////////////////////////////////*/
#myCarousel .item{
  text-align: center;
  /*height: 380px !important;*/
  height: 475px !important;
  background: transparent;
}
#myCarousel .row{
  display: inline-flex;
  margin: 0 auto;
  width: 90%;
}

#myCarousel .albumImg-a-thumbnail{
  padding: 0px;
  border: 0px;
  background-color: transparent;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}
#myCarousel .form-group {
  margin-bottom: 0px;
}

#myCarousel .carousel-side-width{
  width: 5%;
}

#myCarousel .carousel-control{
  color: #868686;
}
#myCarousel .carousel-control.right{
  background: transparent;
}
#myCarousel .carousel-control.left{
  background: transparent;
}
#myCarousel .carousel-indicators .active{
  background-color: #868686;
}
#myCarousel .carousel-indicators li{
  border: 1px solid #868686;
}

#myCarousel .carousel-control, .glyphicon-chevron-right .glyphicon-chevron-left{
  margin-top: -50px;
}
/* 여기까지 카로셀 //////////////////////////////////*/