.normal #topBanner{
/*float: left;*/
text-align: right;
vertical-align: middle;
/*display: table-cell;*/
height: 150px;
/*background-color: #333;*/
width: 1440px;
background:  url('/img/topBannerImg_normalMode.png') no-repeat center;
background-size: 100% 100%;
margin: 0 auto;
}