.projectinfo-position
{
	margin-left: 20px;
}

.projectinfo-button
{
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;

	padding-left : 6px;
	padding-top: 12px;
	padding-right: 6px;
	padding-bottom: 12px;

	font-size: 10px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	font-size: 10px;
}

.projectinfo-name
{
	font-style:italic;
}

#project-replices
{
	margin-top: 0px
}

.reply-position
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.reply-control
{
	display: block;
	width: 100%;
	height: 28px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}