.submit-top
{
	margin-top: 20px
}

.register-form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.login-music-harmony{
	/*float: left;*/
	vertical-align: middle;
	/*display: table-cell;*/
	height: 100%;
	/*background-color: #333;*/
	width: 100%;
	background:  url('/img/logo2.png') no-repeat center;
	background-size: 100% 100%;
	margin: 0 auto;
}

.login-right
{
	text-align: right;
}

.login-label
{
	margin-right: 10px;
	margin-bottom: 0px;
	font-size: 12px;
}

.login-top
{
	padding-top: 80px;
}

.regist-background
{
	background-image:url(/img/regist_background.jpg);
	padding:5px;
	width:100%;
	height:100%;
	border:1px solid black;
}

.regist-button-background
{
	background-image: -ms-linear-gradient(left, #329389 0%, #7CC086 100%);

/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, #329389 0%, #7CC086 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(left, #329389 0%, #7CC086 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #329389), color-stop(1, #7CC086));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, #329389 0%, #7CC086 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to right, #329389 0%, #7CC086 100%);
}