<body>
	<div class="row">

		<div class="col-xs-12 col-sm-6 col-md-6">
			<form class="form-horizontal" role="form" name="register-form">
				<img src="/img/logo2.png" class="music-harmony"/>
			</form>
		</div>

		<div class="col-xs-6 col-md-6">
			<form class="form-horizontal" role="form" name="register-form" action="/regist">
				<div class="form-group">
					<h4 >Register</h4>
				</div>
				
				<div class="form-group">
			    <label for="inputName" class="control-label">Name</label>
			    <div class="">
			      <input type="text" name="user[NAME]" class="register-form-control" id="inputName" placeholder="Name">
			    </div>
			  </div>

				<div class="form-group">
		    	<label for="inputEmail" class="control-label">Email</label>
			    <input type="email" name="user[EMAIL]" class="register-form-control" id="inputEmail3" placeholder="Email">
			  </div>

			  <div class="form-group">
			    <label for="inputPassword" class="control-label">Password</label>
			    <div class="">
			      <input type="password" name="user[PASSWORD]" class="register-form-control" id="inputPassword3" placeholder="Password">
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="inputPassword" class="control-label">Comfirm Password</label>
			    <div class="">
			      <input type="password" class="register-form-control" id="ComfirmPassword" placeholder="Comfirm Password">
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="inputPassword" class="control-label">Ganre</label>
			    <div class="">
			      <input type="text" class="register-form-control" id="inputGanre" placeholder="Ganre">
			    </div>
			  </div>


			  <div class="form-group">
			    <div class="submit-top">
			      <button type="submit" class="btn btn-primary">Regist</button>
			    </div>
			  </div>


		  </form>
		</div>
  <!-- 
	<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="register-modal" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h4 class="modal-title">Register</h4>
	      </div>

	      	<form id="register-form" name="register-form" action="/users" method="post" role="form">
		        <div class="modal-body">
		          <fieldset>
	              <div class="form-group">
	                <label for="name">Nick Name</label>
	                <input type="text"
	                  name="user[name]" id="name" class="form-control" required="required"
	                  maxlength="15" placeholder="Nick Name" />
	              </div>

	              <div class="form-group">
	                <label for="email">ID</label>
	                <input type="email"
	                  name="user[email]" id="email" class="form-control" required="required"
	                  maxlength="17" placeholder="email@email.com" />
	              </div>

	              <div class="form-group">
	                <label for="password">PW</label>
	                <input type="password"
	                  name="user[password]" id="password" class="form-control" required="required"
	                  maxlength="17" placeholder="********" />
	              </div>
	            </fieldset>
	          </div>

	          <div class="modal-footer">
	            <button type="submit" class="btn btn-primary">회원가입</button>
	          </div>
	      	</form>


		    </div>
		  </div>
		</div> -->
		
	</div>
</body>