<div id="recent-text">
Recent
</div>
<hr class="hr-underBar hr-underBar-short">
<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
  <!-- Carousel indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>   
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <!-- <h2>Slide 1</h2> -->
      <div class="row">
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage1.png/" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage2.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage3.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage4.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage9.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage10.png" alt="...">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img>
            <img class="img-circle" src="/img/albumimage5.png/" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage6.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage7.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage8.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage11.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage12.png" alt="...">
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage13.png/" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage14.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage15.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage16.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage17.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage18.png" alt="...">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage19.png/" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage20.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage21.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage22.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage23.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage24.png" alt="...">
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage25.png/" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage3.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage6.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage9.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage12.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage15.png" alt="...">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage18.png/" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage24.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage2.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage5.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage10.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail albumImg-a-thumbnail">
            <img class="img-circle" src="/img/albumimage17.png" alt="...">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left carousel-side-width" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right carousel-side-width" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
