<div class="edit-wrapper">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div id="scale-view">
        scale bar
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div id="beat-bar">
        beat bar
      </div>
    </div>
  </div>
  <div id="track-view">
    <div class="row clearfix">
      <div class="col-md-2 column">
        <div id="track-control">
          track control 1
        </div>
      </div>
      <div class="col-md-10 column">
        <div id="track">
          track 1
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-2 column">        
        <div id="track-control">
          track control 2
        </div>
      </div>
      <div class="col-md-10 column">
        <div id="track">
          track 2
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-2 column">
        <div id="track-control">
          track control 3
        </div>
      </div>
      <div class="col-md-10 column">
        <div id="track">
          track 3
        </div>
      </div>
    </div>
  </div>
</div>