<script type="text/javascript">
  var contentArea = $('#content');
  contentArea.removeClass('middleArea');
  contentArea.addClass('middleAreaFullWidth');
</script>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="pull-left editable" id="project-name"></div>
            <div class="btn-toolbar" id="playback-controls">
                <input type="text" id="time-display" value="-:--:--.---">
                <button class="btn" id="play" title="play"><i class="icon-play"></i></button>
                <button class="btn" id="stop" title="stop" ><i class="icon-stop"></i></button>
                <button class="btn following" id="follow" title="toggle follow"><i class="icon-eye-open"></i><i class="icon-eye-close"></i></button>
            </div>
        </div>
        <div class="app-name">Music Harmony</div>
    </div>
</div>
<div class="menubar" id="menu-view">
    <ul class="nav nav-pills"></ul>
</div>
<div id="app-frame" class="container-fluid">
    <div class="row-fluid">
           <div class="span12" id="editor-view">
            <div class="inner">
                <div id="time-line"></div>
                <div id="tracks"></div>
            </div> 
        </div> <!-- /div#editor-view -->
    </div> 
</div> <!-- /div#app-frame -->



<!-- JavaScript at the bottom for fast page loading -->
<script data-main="/audiee/js/main" src="/audiee/js/libs/require/require.js"></script>